table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  cursor: pointer;
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
  background-image: linear-gradient(87deg, rgb(245, 54, 92) 0px, rgb(245, 96, 54) 100%) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: initial !important;
  background-repeat-x: initial !important;
  background-repeat-y: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
  color: #ffff;

}

.selected{
  color: #f5365c;
}
